p [NOTIFICATION]

p(style="margin-top: 0; margin-bottom: 0") A review was reported for inappropriate content. You are receiving this
p(style="margin-top: 0; margin-bottom: 0") notification as an administrator user for the location below.

p Reporter: #{reporter}

p(style="margin-top: 0; margin-bottom: 0") [REVIEW DETAILS]
p(style="margin-top: 0; margin-bottom: 0") Review:
p(style="margin-top: 0") #{review.review}

p(style="margin-top: 0; margin-bottom: 0") Rating: #{review.rating}
p(style="margin-top: 0; margin-bottom: 0") Location Reviewed: #{review.location.name}
p(style="margin-top: 0; margin-bottom: 0") Location ID:  #{locationId}
p(style="margin-top: 0; margin-bottom: 0") Posted By: #{poster}
p(style="margin-top: 0; margin-bottom: 0") Review ID: #{posterId}
p(style="margin-top: 0; margin-bottom: 0") Posted: #{datePosted}
p(style="margin-top: 0; margin-bottom: 0") -----------------------------------------
br
br
p GreenDirect
