p [NOTIFICATION]

p(style="margin-top: 0; margin-bottom: 0") Se reportó una revisión por contenido inapropiado. Estas recibiendo esto
p(style="margin-top: 0; margin-bottom: 0") Notificación como usuario administrador para la ubicación a continuación.

p Reportero: #{reporter}

p(style="margin-top: 0; margin-bottom: 0") [REVIEW DETAILS]
p(style="margin-top: 0; margin-bottom: 0") Revisión:
p(style="margin-top: 0") #{review.review}

p(style="margin-top: 0; margin-bottom: 0") Clasificación: #{review.rating}
p(style="margin-top: 0; margin-bottom: 0") Ubicación revisada: #{review.location.name}
p(style="margin-top: 0; margin-bottom: 0") ID de ubicación:  #{locationId}
p(style="margin-top: 0; margin-bottom: 0") Publicado por: #{poster}
p(style="margin-top: 0; margin-bottom: 0") ID de revisión: #{posterId}
p(style="margin-top: 0; margin-bottom: 0") Al corriente: #{datePosted}
p(style="margin-top: 0; margin-bottom: 0") -----------------------------------------
br
br
p GreenDirect
