p Hola #{forUser.firstName},

p Alguien con su dirección de correo electrónico solicitó un restablecimiento de contraseña. Si no fuiste tú, puedes ignorar este enlace de reinicio.

//- missing string for (expires in #{minutes})
p(style="margin-bottom: 0") Haga clic en el siguiente enlace para restablecer su contraseña (#{expiry}):
p(style="margin-top: 0")
  a(href=urlPath) #{urlPath}

p Si no se puede hacer clic en este enlace, cópielo y péguelo en la barra de direcciones del navegador.

p(style="margin-bottom: 0") Sinceramente,
p(style="margin-top: 0") GreenDirect
